<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
        </script>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
    </head>
    <body>
        <div class="container" ng-app="myApp" ng-controller="myCtrl">
            <h3>Devices:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Identity</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in devices">
                        <td>{{ x.id }}</td>
                        <td><p>{{ x.attributes  }}</p>
                            <pre>{{ x.key }}</pre>
                        </td>
                        <td>{{ x.status }}</td>
                        <td>
                            <div ng-switch="x.status">
                                <button ng-click="devReject(x.id)" class="btn btn-warning"
                                        ng-switch-when="accepted">Reject</button>
                                <button ng-click="devAllow(x.id)" class="btn btn-success"
                                        ng-switch-default>Allow</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script>
         getDevUrl = function(base, devid) {
             return base + "/" + devid;
         };

         var baseurl = "http://localhost:8082/api/0.1.0/devices";
         var app = angular.module('myApp', []);
         app.controller('myCtrl', function($scope, $http) {

             updateDevices = function() {
                 $http.get(baseurl)
                      .then(function(response) {
                          $scope.devices = response.data;
                      });
             }

             updateDevStatus = function(devid) {
                 console.log("get status of device " + devid)
                 $http.get(getDevUrl(baseurl, devid) + "/status")
                        .then(function(response){
                            if (response.status == 200) {

                                console.log("status: " + response.data.status);
                                for (var i = 0; i < $scope.devices.length; i++) {
                                    if ($scope.devices[i].id == devid) {
                                        $scope.devices[i].status = response.data.status;
                                        break;
                                    }
                                }
                            } else {
                                console.log("device " + devid + " does not exist")
                            }
                      });
             }

             devAction = function(devid, status) {
                 devurl = getDevUrl(baseurl, devid) + "/status";
                 console.log("device URL: " + devurl + " action " + status);
                 $http.put(devurl, {"status": status})
                      .then(function(response) {
                          console.log("success, response status " + response.status);
                          if (response.status == 200) {
                              /* all good */
                              updateDevStatus(devid);
                              /* updateDevices();*/
                          } else if (response.status >= 400) {
                              console.log("device " + devid +
                                          "status update failed, response: " +
                                          JSON.stringify(response));
                          }
                      });
             };

             $scope.devAllow = function(devid, status) {
                 devAction(devid, "accepted");
             };

             $scope.devReject = function(devid, status) {
                 devAction(devid, "rejected");
             };

             updateDevices();
         });
        </script>

    </body>
</html>
